*.so
*.mo
__pycache__
build
env
_build
.tox
/conf.json

/qt/*_rc.py
/qt/ui/*_ui.py
build
dist
install
installer_tmp-cache
deps
/help/*/conf.py
/help/*/changelog.rst
/help/*/credits.rst
/help/*/image

# ctags
tags

